extends layout

block append body
    div.container
        header#overview.jumbotron.subhead
            h2 Your Charts
        hr
        div.row(class='span10')
            table(class='table table-bordered table-striped')
                tbody
                    each chart in charts
                        tr
                            td= chart.name
            hr
            form(id='add_chart', class='well form-search')
                div.create_chart_field
                        label(for="new_chart_name") Name: 
                        input#new_chart_name(type="text")
                        input#new_chart_submit(type="submit", value="Create", class="btn")
                