extends layout

block append head
    script(src='/javascripts/chartManager.js', type='text/javascript')

block append body
    div.container
        header#overview.jumbotron.subhead
            h2 Your Charts
        hr
        div.row(class='span10')
            table(class='table table-bordered table-striped', id='chart_table')
                tbody
                    each chart in charts
                        tr
                            td= chart.name
                            if chart.id
                                td
                                    a(href='/chart/edit/'+chart.id) Edit
                                td
                                    a(href='/chart/view/'+chart.id) View
                                td
                                    a(href='/chart/delete/'+chart.id, class='delete_chart') Delete
                                td
                                    label(for='public_'+chart.id, class='pull-left') Public?
                                    input(type='checkbox', class='public_toggle', id='public_'+chart.id)
            hr
            form(id='add_chart', class='well form-search')
                div.create_chart_field
                        label(for="new_chart_name") Name: 
                        input#new_chart_name(type="text")
                        input#new_chart_submit(type="submit", value="Create", class="btn")
                