extends layout

block append body
    div.container
        header#overview.jumbotron.subhead
            h2 Your Charts
            div.subnav
                ul.nav.nav-pills
        div.row(class='span12')
            table(class='table table-bordered table-striped')
                tbody
                    each chart in charts
                        tr
                            td= chart.name
                