extends layout

block append body
    div.container
        header#overview.jumbotron.subhead
            h2 Your Charts
        hr
        div.row(class='span10')
            table(class='table table-bordered table-striped')
                tbody
                    each chart in charts
                        tr
                            td= chart.name
                